<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id='homePage'>
<!-- <button type="button" class="btn btn-primary" href="/new" name="button">Create new Car</button> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-sm-4" id="homepageBox">
            <h2 id="indexH2">Track Your Lease</h2>
            <p>Seemlessly setup your car's lease structure and the routes you take on a weekly basis.</p>
            <i class="material-icons">trending_up</i>

          </div>
          <div class="col-sm-4" id="homepageBox">
            <h2 id="indexH2">View Insights</h2>
            <p>Track the miles you are allotted vs what your routes forecast, tune as needed.</p>
            <i class="material-icons" >tune</i>

          </div>
          <div class="col-sm-4" id="homepageBox">
            <h2 id="indexH2">Save</h2>
            <p>Going over your miles can be pricey, avoid paying the dealer and keep your money!</p>
            <i class="material-icons">attach_money</i>

          </div>
        </div>
      </div>
    </div>




















  </body>
</html>
