<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id='homePage'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 container-fluid" id=welcomeContainer>
            <div class="col-sm-5" id="welcomeText">
              <h1>Welcome to LeaseTrckr</h1>
              <p>LeaseTrckr helps you gain insights to your car lease to save you money. Forecast how many miles you'll be driving and learn how that correlates to how many miles your lease is allotted.</p>
            </div>
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-12 ">
                  <div class="col-sm-6" id="newOrExist">
                    Login
                  </div>
                  <div class="col-sm-6" id="newOrExist2">
                    Signup
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" id="whichUser">
                  <form action="/login" method="post">
                    <div class="form-group">
                      <label for="login">Email Address</label>
                      <input id="whichUserInput"type="text" name="email" class="form-control">
                    </div>

                    <div class="form-group">
                      <label for="password">Password</label>
                      <input id="whichUserInput" type="password" name="password" class="form-control">
                    </div>
                    <div class="row">
                      <div class="col-xs-4">

                      </div>
                    <button id="profileBtn3"class="col-xs-4 center-block"type="submit">Login</button>
                    <div class="col-xs-4">

                    </div>
                  </div>

                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>

    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-sm-4" id="homepageBox">
            <h2 id="indexH2">Track Your Lease</h2>
            <p>Seemlessly setup your car's lease structure and the routes you take on a weekly basis.</p>
            <i class="material-icons">trending_up</i>

          </div>
          <div class="col-sm-4" id="homepageBox">
            <h2 id="indexH2">View Insights</h2>
            <p>Track the miles you are allotted vs what your routes forecast, tune as needed.</p>
            <i class="material-icons" >tune</i>

          </div>
          <div class="col-sm-4" id="homepageBox">
            <h2 id="indexH2">Save</h2>
            <p>Going over your miles can be pricey, avoid paying the dealer and keep your money!</p>
            <i class="material-icons">attach_money</i>

          </div>
        </div>
      </div>
    </div>




















  </body>
</html>
