<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/cars/new" class="btn btn-primary">Create Car</a>
<!-- <button type="button" class="btn btn-primary" href="/new" name="button">Create new Car</button> -->
  </body>
</html>
