<body>
  <ul>
    <% drive.forEach((drive) => { %>

      <div class="row">
        <div class = "xs-4-sm">
        <h4><%= drive.driveName %></h4>

        <br>
        <br>
        <a class="btn btn-primary" href="/drives/<%= drive._id %>/" role="button" method="post">See Drive Details</a>
        <br>
        <br>
        <form  action="/drives/<%= drive._id %>/delete" method="post">
          <button type="submit" name="delete" class="btn btn-danger">Delete <%= drive.driveName %></button>
        </form>
        <br>
        </div>
    </div>

    <%  }) %>
  </ul>


</body>
