<body>
  <ul>
    <% drive.forEach((drive) => { %>

      <div class="row">
        <div class = "xs-4-sm">
        <h4><%= drive.driveName %></h4>
        
        <br>
        <br>


        <br>
        </div>
    </div>

    <%  }) %>
  </ul>


</body>
